<!-- prettier-ignore -->
{{#> base_template}}
  {{#*inline "content"}}    

        <h1 style="font-size: 18px; font-weight: bold; margin-top: 20px">Congrats for sending a test email with Mailtrap!</h1>
        <p>Inspect it using the tabs you see above and learn how this email can be improved.</p>

        <img alt="Inspect with Tabs" src="cid:welcome.jpeg" style="width: 100%;">
        
        <p>Now send your email using our fake SMTP server and integration of your choice!</p>
        <p>Good luck! Hope it works.</p>

        <style>
          .main { background-color: white; }
          a:hover { border-left-width: 1em; min-height: 2em; }
        </style>
        
{{/inline}}
{{/base_template}}
